<%- include("./partials/header.ejs") %>

<img src="/img/rpd.jpeg" alt="Rond Point Deido"/>

<h1>Bienvenu sur mon Site</h1>

<%= nomUtilisateur %>

<ul>
  <li><a href="/posts">Liste des posts</a></li>
</ul>

<%- include("./partials/footer.ejs") %>