<%- include("../partials/header.ejs") %>

<h1>Nouveau post</h1>

<form action="/posts" method="post">
  <label for="title">Titre</label>
  <input type="text" name="title"> <br>

  <label for="title">Contenu</label>
  <textarea name="content" id="content" cols="30" rows="10">
  </textarea> <br>

  <label for="title">Auteur</label>
  <input type="text" name="author"> <br>

  <button type="submit">Créer</button>
</form>
  
<%- include("../partials/footer.ejs") %>